/src/gen.node.c
/src/gen.pvip.y.c
/libpvip.a
/pvip
/t/c_level.t
/log*
/3rd/greg/greg.dSYM/
*.dSYM
/qre
/src/qre/gen.qre.g.c
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Testing/
/cmake_install.cmake
/greg

